:root {
  --dark-blue: hsl(222, 10%, 41%);
  --turq: hsl(188, 45%, 78%);
  --peach: hsl(5, 100%, 81%);
  --cream: hsl(46, 74%, 92%);
}

html,
body {
  height: 100%;
}

main {
  height: 100vh;
  color: var(--dark-blue);
  background-color: var(--cream);
}
